<div class="sa-ocdfg-container">
  <div class="legend" *ngIf="!loading">
    <div class="legend-items">
      <div *ngFor="let type of objectTypeColors | keyvalue" 
           class="legend-item" 
           [class.inactive]="!isObjectTypeActive(type.key)"
           (click)="toggleObjectType(type.key)">
        <div class="legend-color" [style.background-color]="type.value"></div>
        <span>{{ type.key }}</span>
      </div>
    </div>
  </div>
  
  <div class="decoration-selector" *ngIf="!loading">
    <div class="decoration-label">Edge decoration:</div>
    <div class="decoration-options">
      <button *ngFor="let option of decorationOptions"
              class="decoration-option"
              [class.active]="selectedDecoration === option"
              (click)="selectDecoration(option)">
        {{ option }}
      </button>
    </div>
  </div>
  
  <div *ngIf="loading" class="loading">Loading graph...</div>
  
  <div *ngIf="!loading" class="graph-container">
    <svg #svgContainer class="graph-svg"></svg>
  </div>
</div>
